@import "./streamers-voting-with-submition/style";
@import "./streamer-details/style";

.page-layout {
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;

  @include md {
    width: 80%;
  }

  @include lg {
    width: 70%;
  }

  @include xl {
    width: 1280px;
  }
}

.error-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .header {
    font-size: 2rem;
    font-weight: bold;
  }

  .message {
    font-size: 1.5rem;
  }
}
