$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$white: #ffffff;
$light-gray: #949494;

$background: #171123;
$dark-main: #414770;
$accent: #5B85AA;
$contrast-bright: #F46036;

$font: $white;

$border-radius: 5px
